{% extends 'base.html.twig' %}

{# Template gérant la hompepage "publique" du site : moteur de recherche des concerts #}

{% block title %}Concerts! Recherche
{% endblock %}


{# Partie "dynamique" de la navbar, permettant d'afficher l'onglet actif #}
{% block navbar %}

    <li class="nav-item active">
        <a class="nav-link" href="{{path('concerts')}}">Recherche<span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{path('concert_admin_show')}}">Admin</a>
    </li>

{% endblock %}

{% block body %}

    {# Logo page d'accueil #}
    <div class="container">
        <div class="row justify-content-center">
            <h1>Bienvenue sur
                <div class="navbar-brand">Concerts!</div>
            </h1>
        </div>
        <div class="row justify-content-center">
            <h2 class="subtitle">Le site qui part en live!</h2>
        </div>

        {# Formulaire recherche par artiste #}
        <div class="row justify-content-center mt-4">
            <div class="form-row">
                <div class="col">
                    {{ form_start(formArtist, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{form_widget(formArtist)}}
                </div>
                <div class="col">
                    <button class="btn btn-secondary" type="submit">Chercher par artiste</button>
                    {{form_end(formArtist)}}
                </div>
            </div>
        </div>

        {# Formulaire recherche par ville #}
        <div class="row justify-content-center mt-4">
            <div class="form-row">
                <div class="col">
                    {{ form_start(formCity, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{form_widget(formCity)}}
                </div>
                <div class="col">
                    <button class="btn btn-secondary" type="submit">Chercher par ville</button>
                    {{form_end(formCity)}}
                </div>
            </div>
        </div>
        
        {# Bouton réinitialisation de la recherche #}
        <div class="row justify-content-center mt-2 mb-4">
            <a href="{{path('concerts')}}">
                <button class="btn btn-secondary" type="submit">
                    <i class="fas fa-undo-alt"></i>
                </button>
            </a>
        </div>

        {# Affichage tableau concerts #}
        <div class="row justify-content-center">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Ville</th>
                        <th scope="col">Artiste</th>
                    </tr>
                </thead>
                <tbody>
                    {% for concert in concerts %}
                        <tr>
                            <td>{{concert.date|date('d/m/Y')}}</td>
                            <td>{{concert.city.name}}</td>
                            <td>{{concert.artist.name}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}